<form class="bg-secondary text-white m-5 border p-5 rounded">
    <div class="form-group my-1">
        <label>Empresa/Institución</label>
        <input [(ngModel)]="estudio.entidad" name ="entidad" type="text" class="form-control" placeholder="Ingrese entidad">
    </div>
    <div class="form-group my-1">
        <label>Cargo/Titulo</label>
        <input [(ngModel)]="estudio.nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese título o cargo">
    </div>
    <div class="form-group my-1">
        <label>Inicio</label>
        <input [(ngModel)]="estudio.inicio" name="inicio" type="number" class="form-control" placeholder="2000">
    </div>
    <div class="form-group my-1">
        <label>Fin</label>
        <input  [(ngModel)]="estudio.fin" name="fin" class="form-control" placeholder="2100">
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-dark btn-lg" (click)="enviar()">Añadir</button>
    </div>
</form>