<div class="container my-3 border bg-secondary text-light rounded" >
    <!--Encabezado de la seccion Formacion-->
    <img width="100%" height="200px" [src]="'/assets/fotomia.jpeg'">
    <img width="160px" height="160px" [src]="'/assets/fotomia.jpeg'" [ngClass]="'float-end'">
    <div class="container my-3">
        <div class="row" *ngIf="this.editable">
            <div class="col-10">
            </div>
            <div class="col-2" *ngIf="this.editable">
                <button type="button" class="btn btn-dark btn-lg border" (click)="open(modal)">Editar</button>
            </div>
        </div>
        <div *ngFor="let dato of this.datos" class="container">
            <div class="row">
                <div class="col-10">
                    <p class="h1">{{dato.nombre}} {{dato.apellido}}, {{dato.edad}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-10">
                    <p class="h4">{{dato.bio}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #modal let-modal>
        <app-nueva-persona [destino]="'personas'" [idPerfil]="idPerfil" (cerrar)="close($event)"></app-nueva-persona>
    </ng-template>
</div>