<div class="container-fluid p-5 border rounded border-secondary bg-dark bg-opacity-25">
    <div class="container-md bg-secondary container border p-3 mx-auto text-white">
        <p class="h1 text-center">Ha ocurrido un error</p>
        <p class="text-center">La dirección a la que intenta acceder no existe.</p>
        <p class="text-center">Si así lo desea, registresé para utilizar la aplicación.</p>
       <p class="text-center"> Si ya posee una cuenta, por favor inicie sesión ingresando su usuario y contraseña.</p>
       <p class="text-center"> En cualquier caso, vuelva al inicio</p>
       <div class="text-center">
       <a routerLink="/home"><button class="btn btn-dark btn-lg mx-2">Volver al inicio</button> </a>
       </div>
    </div>
 
</div>