<div class="container-fluid p-5 border rounded border-secondary bg-dark bg-opacity-25">
    <div class="container-md bg-secondary container border p-3 mx-auto text-white">
        <p class="h1 text-center">Bienvenides</p>
        <p class="text-center">Este proyecto fue creado como trabajo integrador en el marco del curso de Argentina Programa.</p>
        <p class="text-center">La presente app permite presentar su CV en forma de perfil digital.</p>
        <p class="text-center">Si así lo desea, registresé para utilizar la aplicación.</p>
       <p class="text-center"> Si ya posee una cuenta, por favor inicie sesión ingresando su usuario y contraseña.</p>
       <div class="text-center">
       <app-login></app-login>
       <app-registro></app-registro>
       </div>
    </div>
</div>
