<div class="container-fluid p-5 border rounded border-secondary bg-dark bg-opacity-25">
    <div class="container-md bg-secondary container border p-3 mx-auto text-white">
        <p class="h1 text-center">Acerca del proyecto</p>
        <p class="text-center">Este proyecto fue creado por Tadeo Rodriguez, como trabajo integrador en el marco del curso de Argentina Programa.</p>
        <p class="text-center">Para contactar al desarrollador puede utilizar cualquiera de los siguientes medios.</p>
        <ul class="list-group  list-group-flush w-25 m-auto rounded-3">
            <li class="list-group-item list-group-item-secondary">
                <a href="http://github.com/rztadeo">
                <img width="20px" [src]="'assets/github-icon.png'">/rztadeo
                </a>
            </li>
            <li class="list-group-item list-group-item-secondary">
                <a href="https://www.linkedin.com/in/rztadeo">
                <img width="20px" [src]="'assets/linkedin-icon.png'">/rztadeo
                </a>
            </li>
            <li class="list-group-item list-group-item-secondary">
                <img width="20px" [src]="'assets/gmail-icon.png'">rz.tadeo</li>
          </ul>
          <div class="text-center my-3">
            <a routerLink="/home"><button class="btn btn-dark btn-lg mx-2">Volver al inicio</button> </a>
            </div>
    </div>
</div>