<div class="row">
    <div class="col-10">
        <p [ngClass]="'h4'">{{exp.entidad}}</p>
        <p [ngClass]="'h3'">{{exp.nombre}}</p>
        <p>{{exp.inicio}} - {{exp.fin}}</p>
    </div>
    <div class="col-2" *ngIf="editable">
        <div class="btn-group border round  ed" role="group">
            <button type="button" class="btn btn-success" (click)="open(modal)"> Editar </button>
            <button type="button" class="btn btn-danger" (click)="borrar()"> Eliminar </button>
        </div>
    </div>
    <ng-template #modal let-modal>
        <app-nueva-experiencia [destino]="this.destino" [idPerfil]="this.exp.usuario" (cerrar)="reload($event)" [estudio]="exp"></app-nueva-experiencia>
    </ng-template>
</div>